body {
  padding-top: 90px;
  background-color: #84A7CE;

}

h1{
  margin: 0px;
}

/** Header **/

#header-nav {
  background-color: #3FAB8E;
  border-radius: 0;
  border: 0px;
  border-bottom: 1px solid black;
}

.navbar-brand {
  height: auto;
}

.navbar-brand h1{
  color: #fff;
  font-weight: bold;
}



#collapsable-nav {
  border-color: black;
}

#nav-list a {
  text-align: center;
  color: black;
}

ul.navbar-nav li {
  border-bottom: 1px solid black;
}

ul.navbar-nav li:nth-child(3) {
  border-bottom: 0px;
}

ul.navbar-nav {
  margin-top: 0px;
  margin-bottom: 0px;
}

li  { background-color: #B9ECDE;

}

#nav-list a:hover {
  background: #6CD3A1;
}

#nav-list a:focus {
  background: #81F7BE;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle:hover, .navbar-header .icon-bar:hover {
  background: #6CD3A1;
}

.navbar-header button.navbar-toggle:focus, .navbar-header .icon-bar:focus {
  background: #81F7BE;
}

.navbar-header button.navbar-toggle {
  margin-top: -51px;
  clear: both;
}

/** MAIN CONTENT **/


.menu-container {
  background-color: #3FAB8E;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}